:root {
    --primary-color: #04173F;
    --main-bg-color:white;
    --text-color:black;
    --icon-color:#3D3D3D;
    --cta-color:#ED5142;
    --stroke-color:#C4C4C4;
    --rating-star-color:#FDCC0D;
  }

 
  .nav-text {
    vertical-align: middle;
}

.category-box{
    width: 583px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgb(219, 219, 219);
    flex-direction: row;
    align-content: center;
}
.no-border {
    border: 0;
}
  
.no-outline {
    outline: none;
    border: 0px;
  }
  
 #collasible-nav-dropdown{
    color: white;
    font-size: 14px;
      
  }

  .logo-row{
    /* margin: 24px 72px 24px 72px ; */
    padding: 20px 40px;
    display: flex;
    align-items: center;
}

  /* search Box */
  #input-group-dropdown-1{
    background-color: transparent;
    border:none;
    color: black;
}

.input-container{
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}

.input-box{
  display: flex;
  justify-content: center;
  padding-top: 20px;
  /* padding: 5px; */
}
.icons-right{
  /* padding-left: 30px; */
  padding-right: 1em;
}
.button-header {
  background-color: var(--cta-color);
  color: white;
  border-radius: 3px;
  border: none;
  padding: 0.8em 1em;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  /* width: 12em; */
  /* height: 3em; */
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

Nav {
  display:flex;
  justify-content:center;
  }

Nav.Link {
  display:flex;
  padding-right: 5em;
  justify-content:space-between;
}



@media (min-width: 768px) { 
    .container-fluid.header-top-bar{
        background-color: var(--primary-color);
        padding: 0.5rem;
    }

    .header-bar{
      display: inline;
      display: flex;
      flex-direction: row;
    }
    .header-top-left p, .header-top-right p{
        color: var(--main-bg-color);
        display: flex;
        flex-direction: row;
    }
    .header-top-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      /* padding-top: 16px; */
      padding-right: 72px;
      padding-left: 72px; 
  }
    .headerTopText{
      margin-top: 0.8em;
      margin-left: 1em;
      margin-right: 1em;
    }
    .dropdown-text{
      color: white !important;
    }
    .cart-icon{
      color: '#3d3d3d';
      font-size: '30px';
      margin-right: '1em';
      /* margin-top: '1em'; */
    }
    .category-link{
      color: var(--icon-color) !important;
      font-weight: bold;
      padding-right: 8rem;
      /* padding-left: 2rem; */
  }
    .categories{
        padding:1rem 3rem;
    }
    .nav-link{
        color: var(--text-color);
        font-size: 14px;
        font-weight: 500;
    }
    .input-container{
      border: 1px solid rgb(167, 167, 167);
      border-radius: 5px;
      height: 60px;
      display: flex;
      align-items: center;
      width: 5em !important;
      
    }
    
    
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 
}
@media (min-width: 992px) { 
  .navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 2em !important;
    padding-left: 2em !important;
  }
  .signInContainer{
    padding: 2em;
    background-color: #F8F8F8;
  }
  .signInContainer h3{
    color: var(--cta-color);
    font-weight: bold;
  }
  .btn.btn-primary.btn-block{
    background-color: var(--cta-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
  .form-group label{
    color: #596988;
    font-weight:normal;
  }
  .forgot-password a{
    color: #596988;
    font-weight:normal;
  }
  .signup{
    margin-top: 1em;
  }
  .signup p , .signup p > a{
    color: #596988;
  }
  .signup p > a{
    font-weight: bold;
  }
  .form-control{
    background-color: transparent !important;
    font-weight: normal;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #input-group-dropdown-1{
    padding-left: 1em;
  }
  .drop{
    padding-left: 2em;
  }
  .vl {
    border-left: 1.5px solid rgb(61, 61, 61);
    height: 32px;
    /* position: absolute; */
    left: 30%;
    top: 21px;
    margin-left: -2em;
    z-index: 1;
  }
  .searchTxt{
    position: absolute;
    margin-left: 1em;
    margin-right: -6em;
  }
  .searchIcon{
    margin-left: 8em;
  }
}