.leftBanner img{
    width: 100%;
    height: 100vh;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 
}
@media (min-width: 992px) { 
  .signInContainer{
    padding: 10em 1em;
    background-color: #F8F8F8;
  }
  .signInContainer h3{
    color: var(--cta-color);
    font-weight: bold;
  }
  .btn.btn-primary{
    background-color: var(--cta-color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 0.5em 4em;
  }
  .btn.btn-primary:hover{
      background-color: var(--cta-color);
      
  }
  .inputGroup{
      margin-top: 1em;
  }
  .form-group{
      /* margin: 0 auto; */
  }
  .form-group label{
    color: #596988;
    font-weight:normal;
  }
  .forgot-password a{
    color: #596988;
    font-weight:normal;
  }
  .signup{
    margin-bottom: 1em;
  }
  .signup p , .signup p > a{
    color: #596988;
  }
  .signup p > a{
    font-weight: bold;
  }
  .form-control{
    background-color: transparent !important;
    font-weight: normal;
    /* width: 100% !important; */
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
