.CategoriesCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cardContainer{
    padding: 10px;
}

.filterCategories{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}
    
.topcategories{
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

.topcategoriesTitle{
    font-size: 20px;
    font-weight: bold;
}

.topcategoriesCards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.newArrivals{
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.newArrivalsTitle{
    font-size: 20px;
    font-weight: bold;
}
.newArrivalsCard{
    overflow: hidden;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}
.brands{
    margin-top: 100px;
    height: 300px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

.brandsTitle{  
    font-size: 20px;
    font-weight: bold;
}

.brandscard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.containerCategory{
    margin-bottom: 100px;
}