:root {
    --primary-color: #04173F;
    --main-bg-color:white;
    --text-color:black;
    --icon-color:#3D3D3D;
    --cta-color:#ED5142;
    --stroke-color:#C4C4C4;
    --rating-star-color:#FDCC0D;
  }